.page {
   z-index: 1;
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   color: var(--app-color);
   background-color: var(--app-bg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   overflow-x: hidden;
   transition: transform 250ms ease-in-out;
   transform: translateX(0);
   padding: var(--space-py) var(--space-px);

   &.flex {
      display: flex;
      flex-direction: column;
   }

   &.right {
      transform: translateX(100%);
   }

   &.left {
      transform: translateX(-100%);
   }

   &.active {
      z-index: 20;
   }

   >* {
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
   }

   .aligner {
      flex: 1;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
}